@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/IndexLayout.cshtml";
}
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Marka Ekleme Sayfası</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <span class="list-group-item-dark">Marka Adı</span>
                        <input type="text" class="form-control" asp-for="BrandName" />
                        <br />
                        <span class="list-group-item-dark">Marka Url</span>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-outline-success">Marka Ekle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>