@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/IndexLayout.cshtml";
}
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Feature Güncelleme Sayfası</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="FeatureId" />
                        <span class="list-group-item-dark">Öne Çıkan Başlık</span>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <span class="list-group-item-dark">Öne Çıkan Icon</span>
                        <input type="text" class="form-control" asp-for="Icon" />
                        <br />
                        <button class="btn btn-outline-success">Feature Güncelle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>